
{% extends "blog/base.html" %}
{% block title %}Create A New Blog Category!{{ post.title }}{% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Add Category...</h1>
    <br/><br/>
    <div class="form-group">
    <div class="col-md-6 offset-md-3">
    <form method = "post" novalidate form-controls>
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Add Category"class="btn btn-primary mt-3">
    </form>
    </div>
    </div>
    {% else %}

        <h3>You're not allowed here! (and You know it...)</h3>
{%endif%}
    
{% endblock  %}
