{% extends "blog/base.html" %}
{% block title %}Edit Blog Post{{ post.title }}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1 ><br/>Update Post...</h1>
        <br/>
        <br/>
        <div class="form-group">
        <div class="col-md-6 offset-md-3">
        <form method = "post" novalidate form-con>
            {{form.media}}
            {{form.as_p}}
            {% csrf_token %}
        
            
            <input type="submit" value="Update"class="btn btn-primary mt-3">
        </form>
        </div>
        </div>
    {%else%}
    <h3>You're not allowed here! (and You know it...)</h3>
    {% endif %}
{% else %}

<h3>You're not allowed here! (and You know it...)</h3>
{%endif%}
{% endblock  %}
